<!DOCTYPE html>

<html>

	<head>
		<title>Sing!</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>

		<div class="banner">
			<div class="container">
				<h1>How to sing like a star</h1>
				<h2>Let's learn step by step how to become the future Mariah Carey !</h2>
				<a href="link" class="btn-shine">Start now</a>
			</div>
		</div>


		</div>

		<div class="container">
			

			<h2>1. Getting the notes right</h2>

			<p>Knowing how to hold the right notes in the right way is essential in <em>singing</em>. Without it, no one will want to listen to you. </p>
			<p>To sing well, it is very simple. You just have to open your mouth wide and think very hard about the note you are going to sing.</p>
			<p>It works every time, don't worry.</p>

			<h2>2. Express the feeling of the song</h2>

			<p>Let's look at a picture of our favourite singer. Beautiful, isn't it? 💜</p>
			<p>She gives off such emotion, it's fabulous.</p>

			<img class="feeling" src="images/mariah.jpeg" alt="Mariah Carey">

			<p>When you sing, you also have to give off as much charisma and emotion. It's very important in the performance.</p>
			<p>I advise you to choose a sad song, it is one of the easiest emotions to imitate. Then, I will give you a secret kept by the biggest stars. Just before your performance, you have to cut an onion! This will cause tears to flow from your eyes, giving the impression that you are really crying with sadness. This is essential to convey the emotion of the performance. </p>

			<h3>3. Time to shine</h3>

			<p>Now that you know all about how to sing like a pro, </p>
			<p id="before-button"><strong>YOU</strong> can become a direct competitor to our beloved 
			<strong>💕Mariah💕</strong>.</p>

			<a href="link" class="btn-shine">Show me your skills!</a>
		<div/>	

	</body>

</html>